body {
    background:pink;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom:30px;
    background:#F2A649;
    border-radius:5px;
    box-shadow: 5px 8px #593A1E;
}

.assignment img {
    width:200px;
    margin-right:20px;
    border: 2px solid #F2E0C0;
    border-radius:5px;
}

h1 {
    color:#593A1E;
    text-align: center;
}

a {
text-decoration:none;
}

.assignment a:hover {
    color:#593A1E;
}
